
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}




@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success text-center">@ViewBag.SuccessMessage</div>
}


@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-warning text-center">@ViewBag.ErrorMessage</div>
}


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                <span class="breadcrumb-item active">Đổi mật khẩu</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">

    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4  flex-column align-content-center d-flex ">
                    <h1>Đổi mật khẩu</h1>
                </div>
                <div class="tab-content">

                    <form method="post" action="@Url.Action("changePassword", "Home")">
                        @Html.AntiForgeryToken()
                        <div class="row flex-column align-content-center px-xl-3 d-flex">


                            <div class="control-group w-25">
                                <input name="password" type="password" class="form-control" id="email" placeholder="Mật khẩu hiện tại *"
                                       required="required" data-validation-required-message="Vui lòng nhập mật khẩu" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group w-25">
                                <input name="changePassword" type="password"  minlength="7" class="form-control" id="pass" placeholder="Mật khẩu mới *"
                                       required="required" data-validation-required-message="Vui lòng nhập mật khẩu" />
                                <p class="help-block text-danger"></p>
                            </div>

                            <input value="Đổi mật khẩu" class="btn btn-primary py-2 w-25" type="submit">

                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


