
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                <span class="breadcrumb-item active">Quên mật khẩu</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">

    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4  flex-column align-content-center d-flex ">
                    <h1>Quên mật khẩu</h1>
                </div>
                <div class="tab-content">

                    <form method="post" action="@Url.Action("ForgotPassword", "Home")">
                        @Html.AntiForgeryToken()
                        <div class="row flex-column align-content-center px-xl-3 d-flex">


                            <div class="control-group w-25">
                                <input name="Email" type="email" class="form-control" id="email" placeholder="Email *"
                                       required="required" data-validation-required-message="Vui lòng nhập Email của bạn" />
                                <p class="help-block text-danger"></p>
                            </div>
                            
                            <input value="Lấy lại mật khẩu" class="btn btn-primary py-2 w-25" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
