
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                <span class="breadcrumb-item active">Giới thiệu</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        

        
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <h1 class="mb-3">Giới thiệu</h1>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">

                        <p>Công ty TNHH Nhạc Cụ Sol music được thành lập vào năm 2013, địa chỉ tại Số 102 đường 2/4, phường Vĩnh Phước, TP Nha Trang, Khánh Hòa. Tận dụng và phát huy các ưu điểm về diện tích cửa hàng lớn, trưng bày đa dạng các sản phẩm nhạc cụ, đội ngũ nhân viên tư vấn tận tình Sol music hứa hẹn là nơi mang đến sự vui vẻ và hài lòng cho Quý khách về những trải nghiệm âm nhạc.</p>
                        <p>Đến tham quan và mua sắm tại cửa hàng nhạc cụ ACE Music, Quý khách sẽ hoàn toàn có thể yên tâm và tin tưởng vào sự uy tín cũng như được đảm bảo về nguồn gốc của từng sản phẩm, cùng với chế độ bảo hành chính hãng. Quý khách hàng sẽ dễ dàng tìm được sự lựa chọn tốt nhất về các dòng sản phẩm nhạc cụ chất lượng cao cho gia đình mình và những người thân yêu.</p>


                        <p>Nắm bắt được nhu cầu đó của Quý khách hàng, website www.solmusic.vn đã được ra đời. Chúng tôi hy vọng, qua website, Quý khách hàng sẽ lựa chọn được các sản phẩm phù hợp với nhu cầu của mình trong thời gian ngắn nhất với chi phí phù hợp nhất.</p>
                    
                        <div class="row">

                            <div class="col-md-12">
                        
                        
                                       
                                       
                                       
                                       
                                        <h3><strong>1.2 Đàn piano cơ cũ:</strong></h3>
                                        <p>Hay còn gọi là đàn piano Seconhand đã qua sử dụng với việc công nghệ đàn piano ngày càng phát triển nâng tuổi thọ của một cây đàn piano cơ lên tới cả trăm năm, ngành hàng sản phẩm Piano Cơ Cũ đã xuất hiện</p>
                                        <p>Hoạt động theo tiêu chí mua của người chán bán cho người cần. Nhạc Cụ Sol music muốn mang đến cho quý khách hàng những sản phẩm chất lượng đảm bảo, nhưng giá thành cạnh tranh mang những sản phẩm thực sự chất lượng đến tay Khách hàng.</p>
                                        <h4>– Đàn Piano Cơ Yamaha Cũ:</h4>
                                        <p>
                                            + Các dòng sản phẩm được nhập khẩu trực tiếp từ đất nước mặt trời mọc với giấy chứng nhận kiểm tra đầy đủ.<br>
                                            + Những cây đàn piano yamaha acoustic trước khi được Chúng tôi nhập về đã phải rất khó khẳn để vượt qua bài kiểm tra về chất lượng từ những chuyên viên Piano được đào tạo bởi chính Tập đoàn Yamaha Music.<br>
                                            + Sau khi đã đạt tiêu chuẩn, đàn mới được đánh bóng lên dây rồi mới được ra mắt quý khách hàng.
                                        </p>
                                        <h4>– Đàn Piano Cơ Kawai Cũ:</h4>
                                        <p>
                                            + Tương tự như các dòng sản phẩm yamaha, Đối với Sol music Music – Uy Tín – Chất Lượng – Cam Kết được đặt lên hàng đầu.<br>
                                            + Những sản phẩm Piano Acoustic Kawai được cung cấp bởi Sol music là những sản phẩm được tuyển chọn kĩ càng đảm bảo phải chất lượng chính xác với mức giá sản phẩm. Để khách hàng yên tâm mỗi khi nhắc tới Sol music.
                                        </p>
                                        
                                        <h3><strong>1.3 Đàn piano điện:</strong></h3>
                                        <p>Đánh giấu một kỉ nguyên mới của công nghệ sản xuất piano, việc piano Điện ra đời gần như đã định hình lại ngành sản phẩm Piano trên toàn thế giới, Thiết kế nhỏ gọn hơn, nhẹ nhàng hơn, dễ vận chuyển hơn Và đặc biệt giá thành rẻ hơn gấp 10 lần.</p>
                                        <p>Không chỉ dành cho giới trung lưu và thượng lưu. Ngày nay đàn piano điện là dành cho tất cả mọi người, Piano Digital dành cho cả thế giới. Sự kết hợp của công nghệ và cổ điển – Đàn piano điện ra đời.</p>
                                        <h4>– Đàn Piano Điện Yamaha:</h4>
                                        <p>
                                            + Tập đoàn Yamaha – nổi tiếng với khả năng sản xuất đa ngành nghề, ngay khi thị trường đàn piano Điện mới chớm nở.<br>
                                            Yamaha đã thực sự nghiêm túc nghiên cứu và liên tục cho ra đời những dòng đàn vô cùng chất lượng để phục vụ và đáp ứng được nhu cầu của người tiêu dùng.<br>
                                            Rất nhiều sản phẩm piano điện của yamaha đã thành công rực rỡ và được cả thế giới công nhận.
                                        </p>
                                        <img class="alignnone wp-image-25452 size-full entered lazyloaded" src="https://nhaccutienmanh.vn/wp-content/uploads/2021/01/yamaha-music-tien-manh-shop-hcm-1.jpg" alt="Showroom Sol music Music" width="1280" height="960">
                                        <p>&nbsp;</p>
                                        <h4>– Đàn Piano Điện Roland:</h4>
                                        <p>+ Tập đoàn sản xuất nhật cụ điện tử Roland: Đúng như câu sologan của hãng “We Design The Future” khi tất cả các thương hiệu nhạc cụ đang chạy đua tìm cách sản xuất nhạc cụ truyền thống thì. Roland đã là người tiên phong trong việc đưa khoa học và công nghệ ứng dụng vào việc sản xuất nhạc cụ, trống điện tử, piano và organ điện tử.</p>
                                        <p>Ngày này các hãng sản xuất nhạc cụ vẫn luôn phải sử dụng các công nghệ được roland tạo ra và phát triển nổi bật nhất có công nghệ giao tiếp nhạc cụ chuẩn kết nối MIDI do roland tạo ra đã được chọn là cổng kết nối giao tiếp tiêu chuẩn giữa các loại nhạc cụ.</p>
                                        <h4>– Đàn Piano Điện Casio:</h4>
                                        <p>+ Nhiều người trong chúng ta chỉ biết đến đồng hồ Casio, series máy tính cầm tay nổi tiếng của casio, chứ không biết rằng thực tế hãng Casio còn sản xuất cả các loại nhạc cụ điện tử như Đàn organ, đàn piano với tiêu chí sản xuất các loại nhạc cụ để phục vụ giáo dục. Thế mạnh của hãng chính là tạo ra các dòng đàn được tích hợp các giáo trình tự học giúp người chơi dễ dàng tự học đàn qua các giáo trình đó.</p>
                                        <p>Ngoài ra hãng còn phát triển một số dòng sản phẩm piano siêu nhỏ gọn, phục vụ đối tượng khách hàng muốn chơi piano nhưng cần phải di chuyển thường xuyên. Piano điện Casio đã và đang từng bước góp phần phát triển nền giáo dục âm nhạc của rất nhiều đất nước.</p>
                                        <h4>– Đàn Piano Điện Kawai:</h4>
                                        <p>+ Nổi tiếng nhất trong lĩnh vực sản xuất piano cơ, nhưng Kawai những năm gần đây cũng đã chính thức đặt chân vào ngành công nghiệp sản xuất âm nhạc điện tử, bằng cách cho ra đời các dòng sản phẩm piano điện của mình.</p>
                                        <p>Các dòng piano điện kawai được thiết kế không mấy nổi bật so với các hãng còn lại, nhưng lại sở hữu bộ máy và bo mạch bên trong vô cùng hiện đại, có khả năng tái tạo lại âm thanh của những cây piano acoustic tốt nhất của Kawai.</p>
                                        <p>Piano điện Kawai đã và đang từng bước cải thiện để đáp ứng hoàn hảo được nhu cầu của người tiêu dùng.</p>
                                        <h3><strong>1.4 Đàn piano điện cũ:</strong></h3>
                                        <p>+ Là các dòng sản phẩm chính hãng của các thương hiệu đàn piano điện nổi tiếng như, Yamaha, Roland, Casio, Kawai .. đã qua sử dụng nhưng vẫn rất đảm bảo về chất lượng sử dụng. Giúp khách hàng bỏ ra một số tiền nhỏ hơn nhưng vẫn có thể sở hữu hiệu năng của một cây đàn cao cấp tốt hơn.</p>
                                        <h3><strong>1.5 Đàn piano cuộn – ROLL UP PIANO:</strong></h3>
                                        <p>+ Đàn piano cuộn được thiết kế và sản xuất bởi công ty nhạc cụ điện tử Hong Kong Konix. Chất liệu các dòng sản phẩm được làm bằng cao su với thiết kế mỏng. Có khả năng cuộn lại như một chiếc khăn, tiện lợi cho những người có nhu cầu luyện tập piano nhiều nhưng lại thường xuyên phải di chuyển.</p>
                                        <p>Hoặc dành cho những người thích tập chơi piano, nhưng kinh tế còn hạn chế có thể mua sản phẩm piano cuộn để kết nối với máy tính hoặc điện thoại. Hay đơn giản là muốn luyện tập.</p>
                                        <p>Dòng sản phẩm của hãng Konix có các kích cỡ và số lượng phím khác nhau, cụ thể là đàn piano cuộn roll up piano 49 keys, 61 phím, 88 phím. Đa dạng cho người dùng dễ dàng lựa chọn.</p>
                           


                                    
                                    
                                    

                                        
                                      
                            
                            </div>

                        </div>
                        <p class="mt-4">
                            Phía trên đây là các loại nhạc cụ, âm thanh ,phụ kiện được nhạc cụ Sol music phân phối sỉ lẻ chính hãng. Khách hàng có nhu cầu mua hàng hay giải đáp thắc mắc hoặc đặt hàng online có thể liên hệ các số điện thoại có sẵn trên website hoặc tới các showroom Sol music Music gần nhất để mua hàng trực tiếp.
                        </p>
                    </div>
                   
                   
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->
